#textdomain wesnoth-Era_of_Hermes

[textdomain]
    name="wesnoth-Era_of_Hermes"
    path="data/add-ons/Era_of_Hermes/translations"
[/textdomain]

# If you want to use this faction in an add-on, add {~add-ons/Era_of_Hermes/campaign.cfg} in your campaign define.

#ifdef MULTIPLAYER
[binary_path]
    path=data/add-ons/Era_of_Hermes
[/binary_path]

{~add-ons/Era_of_Hermes/mainline_strings.cfg}
{~add-ons/Era_of_Hermes/factions/hermes}status

{~add-ons/Era_of_Hermes/palettes.cfg}
{~add-ons/Era_of_Hermes/utils}
{~add-ons/Era_of_Hermes/eras.cfg}

[+units]
    {~add-ons/Era_of_Hermes/units}
[/units]
#endif

#ifdef EDITOR
[binary_path]
    path=data/add-ons/Era_of_Hermes
[/binary_path]

{~add-ons/Era_of_Hermes/mainline_strings.cfg}
{~add-ons/Era_of_Hermes/palettes.cfg}
{~add-ons/Era_of_Hermes/utils}

[+units]
    {~add-ons/Era_of_Hermes/units}
[/units]
#endif
