#textdomain wesnoth-Era_of_Hermes

[era]
    id=Era_of_Hermes
    name= _ "Era of Hermes"
    require_era=yes

    {RANDOM_SIDE}
[/era]

[era]
    id=Hermes RPG Era
    name= _ "Hermes RPG Era"
    require_era=yes

    {RANDOM_SIDE}
[/era]

[era]
    id=Heroes of Chaos
    name= _ "Heroes of Hermes"
    require_era=yes

    {RANDOM_SIDE}
[/era]
