#textdomain wesnoth-Era_of_Hermes

#define HERMETIC_ARCH_MAGUS
    race=human
    gender=male,female
    image="units/human-magi/great-mage.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    profile="portraits/humans/mage-arch.png"
    hitpoints=76
    movement_type=smallfoot
    movement=6
    experience=250
    level=5
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    die_sound={SOUND_LIST:HUMAN_OLD_DIE}
    {DEFENSE_ANIM "units/human-magi/great-mage-defend.png" "units/human-magi/great-mage.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/mage-arch.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/mage-arch.png"
    [/portrait]
#enddef

#define HERMETIC_ARCH_MAGUS_CAST
    start_time=-575
    [frame]
        image="units/human-magi/great-mage.png:50"
    [/frame]
    [frame]
        image="units/human-magi/great-mage-attack-magic-1.png:100"
    [/frame]
    [frame]
        image="units/human-magi/great-mage-attack-magic-[2,1].png:[150,75]"
    [/frame]
    [frame]
        image="units/human-magi/great-mage.png:75"
    [/frame]
#enddef

#define HERMETIC_ARCH_MAGUS_STAFF
    start_time=-250
    [frame]
        image="units/human-magi/great-mage.png:50"
    [/frame]
    [frame]
        image="units/human-magi/great-mage-attack-staff-[1~2].png:[100,200]"
    [/frame]
    {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -100}
    [frame]
        image="units/human-magi/great-mage-attack-magic-1.png:75"
    [/frame]
    [frame]
        image="units/human-magi/great-mage.png:75"
    [/frame]
#enddef


#define HERMETIC_ARCH_MAGUS_FEMALE
    gender=female
    image="units/human-magi/great-mage+female.png"
    profile="portraits/humans/mage-arch+female.png"
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/human-magi/great-mage+female-defend.png" "units/human-magi/great-mage+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/mage-arch+female.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/mage-arch+female.png"
    [/portrait]
#enddef

#define HERMETIC_ARCH_MAGUS_FEMALE_CAST
    [frame]
        image="units/human-magi/great-mage+female.png:50"
    [/frame]
    [frame]
        image="units/human-magi/great-mage+female-attack-magic-1.png:100"
    [/frame]
    [frame]
        image="units/human-magi/great-mage+female-attack-magic-[2,1].png:[150,75]"
    [/frame]
    [frame]
        image="units/human-magi/great-mage+female.png:75"
    [/frame]
#enddef

#define HERMETIC_ARCH_MAGUS_FEMALE_STAFF
    [frame]
        image="units/human-magi/great-mage+female.png:50"
    [/frame]
    [frame]
        image="units/human-magi/great-mage+female-attack-staff-[1~2].png:[100,200]"
    [/frame]
    [frame]
        image="units/human-magi/great-mage+female-attack-magic-1.png:75"
    [/frame]
    [frame]
        image="units/human-magi/great-mage+female.png:75"
    [/frame]
#enddef
