#textdomain wesnoth-Era_of_Hermes

#define ABILITY_SUICIDE
    [dummy]
        id=mrc_suicide
        name= _ "suicide"
        description= _ "this unit dies instantly upon attacking."
    [/dummy]
[/abilities]

[event]
    name=attack_end
    first_time_only=no
    id=mrc_suicide_event
    [filter]
        ability=mrc_suicide
        x,y=$x1,$y1
    [/filter]
    [kill]
        x,y=$x1,$y1
        animate=no
    [/kill]
[/event]

[+abilities]
#enddef
